<!DOCTYPE html>
<html>
<head>
    <title>¿Ou? v3.2</title>
    <!-- webapp ios Stuff -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="translucent-black">
    <meta name="apple-mobile-web-app-title" content="Ou? v3.0.5">
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no" />

    <!-- Caching -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>

    <!-- iOS icons -->
    <link rel="apple-touch-startup-image" href="/img/ou-start.jpg" />
    <link rel="apple-touch-icon" href="/img/ou-icon@2x.png" />
    <link rel="stylesheet" href="/bundle/application.css" />

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxPzhDXUPPcDaVwy34HIvwzWTdKwCEPBY"></script>
    <script type="text/javascript" src="/bundle/vendor.js"></script>

</head>

<body ng-app="ou3">
    <main id="app-content" ng-controller="MainController" ng-class="(miniLock)? 'collapse': 'expand' ">
        <div id="map-canvas"></div>
        <div id="data-section" ng-cloak ng-controller="DataController" ng-hide="!mapLoaded" class="ng-hide"
             hm-double-tap="toggleMiniLock()" >

            <a id="update-button" class="material" ng-click="handleUpdatePosition()">
                <i class="fa fa-repeat"></i>
            </a>

            <i id="page-refresh" class="fa fa-power-off" ng-click="reload()"></i>

            <ul class="main-data">
                <li class="special" ng-show="area.neighborhood || area.sublocality_level_1">
                    <span class="super">Neighborhood</span>
                    {{area.neighborhood}}<span ng-show="area.sublocality_level_1">, {{area.sublocality_level_1}}</span>
                </li>

                <li ng-show="area.locality" ng-class="{special: !area.neighborhood}">
                    {{area.locality}}
                </li>

            </ul>
            <ul class="extra-data">
                <li>
                    {{area.administrative_area_level_2 }} <span ng-show="area.administrative_area_level_2">,</span>
                    {{area.administrative_area_level_1}}
                </li>

                <li>
                    {{area.postal_code}}<span ng-show="area.postal_code_suffix">-{{area.postal_code_suffix}}</span>
                </li>

                <li>
                    {{area.route}}
                </li>
            </ul>
        </div>



    </main>
</body>
<script type="text/javascript" src="/bundle/application.js"></script>
</html>
