<!DOCTYPE html>
<html>
<head> 
    <title>¿Ou? v3.0.1</title>
    <!-- webapp ios Stuff -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="translucent-black">
    <meta name="apple-mobile-web-app-title" content="Ou? v3.0.1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <!-- Caching -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1KY0AYxsv3GjDFZRrfTQA3MpFAr4zZtU"></script>

    <!-- iOS icons -->
    <link rel="apple-touch-startup-image" href="/public/img/ou-start.jpg" />
    <link rel="apple-touch-icon" href="/public/img/ou-icon@2x.png" />


    <link type="text/css" rel="stylesheet" href="/public/lib/normalize.css/normalize.css" />
    <link type="text/css" rel="stylesheet" href="/public/lib/font-awesome/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="/public/css/main.css" />


    <script type="text/javascript" src="/public/lib/lodash/dist/lodash.min.js"></script>
    <script type="text/javascript" src="/public/lib/jquery/dist/jquery.min.js"></script>
</head>

<body ng-app="ou3">
    <div id="app-content" ng-controller="MainController" ng-class="(miniLock)? 'collapse': 'expand' ">
        <div id="map-canvas"></div>
        <div id="data-section" ng-controller="DataController" ng-hide="!mapLoaded" class="ng-hide"
             hm-double-tap="toggleMiniLock()" >
            <a id="update-button" class="material" hm-touch="handleUpdatePosition()" ng-class="(updating)? fa-spin: '' ">
                <i class="fa fa-repeat"></i>
            </a>

            <ul class="main-data" hm-swipe-right="handleUpdatePosition()">
                <li class="special" ng-show="area.neighborhood || area.sublocality_level_1">
                    <span class="super">Neighborhood</span>
                    {{area.neighborhood}}<span ng-show="area.sublocality_level_1">, {{area.sublocality_level_1}}</span>
                </li>

                <li ng-show="area.locality" ng-class="{special: !area.neighborhood}">
                    {{area.locality}}
                </li>

            </ul>
            <ul class="extra-data">
                <li>
                    {{area.administrative_area_level_2 }} <span ng-show="area.administrative_area_level_2">,</span>
                    {{area.administrative_area_level_1}}
                </li>

                <li>
                    {{area.postal_code}}<span ng-show="area.postal_code_suffix">-{{area.postal_code_suffix}}</span>
                </li>

                <li>
                    {{area.route}}
                </li>
            </ul>

            {{stuff}}
        </div>



    </div>
</body>

<script type="text/javascript" src="/public/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="/public/lib/hammerjs/hammer.min.js"></script>
<script type="text/javascript" src="/public/lib/angular-gestures/gestures.min.js" ></script>
<script type="text/javascript" src="/public/lib/angular-animate/angular-animate.min.js"></script>

<!-- actual app -->
<script type="text/javascript" src="/public/js/app/ou3.js"></script>
<script type="text/javascript" src="/public/js/app/controllers/main_controller.js"></script>
<script type="text/javascript" src="/public/js/app/controllers/data_controller.js"></script>
</html>