/* = DATA SECTION ******** */
#data-section {
    display: block;
    position: absolute;
    z-index: 2;
    bottom: 0;
    /*top: 68%;*/
    min-height: 32%;
    width: 100%;
    font-size: 1.25em;
    font-weight: lighter;
    padding: 0;

    background-color: #565656;
    background: linear-gradient(to top right, #333, #565656);
    color: #fff;
    box-shadow: -4px 0px 30px #000;


    -webkit-transition-property: height, bottom;
    transition-property: height, bottom;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#data-section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li .super {
    font-size: 0.5em;
    display: block;
    color: #F57F17;
    margin-bottom: 0.25em;
}
#data-section ul li {
    margin: 0;
    padding: 0.25em 0.5em;
}

#data-section ul li.special {
    background-color: #FFEB3B;
    color: #333;
    padding: 0.5em;
}

/* = UPDATE BUTTON ****** */
#update-button {
    transitiion-property: bottom;
    transition-duration: 250ms;
    position: absolute;
    right: 0.25em;
    top: -1em;
    z-index: 5;
}

.material {
    background-color: #fff;
    padding: 0.656565em 0.75em;
    border-radius: 2em;
    box-shadow: 1px 2px 4px #333;

}
.material:active {
    box-shadow: 1px 6px 8px #555;
}

#update-button > .fa.fa-repeat{
    color: #4CAF50;
    font-size: 1.5em;
}


/* = REFRESH BUTTON */
#page-refresh {
    position: fixed;
    padding: 1em;
    z-index: 3;
    bottom: 0em;
    right: 0em;
    font-size: 0.75em;
    color: #777;
}
